Django>=5.0,<7.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
openpyxl>=3.1
whitenoise>=6.6
Pillow>=10.0
gunicorn>=22.0
dj-database-url>=2.1
psycopg[binary]>=3.1
django-storages[s3]>=1.14
requests>=2.31
google-auth>=2.28
sentry-sdk[django]>=2.0,<3
